html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(73, 73, 73);
    font-family: sans-serif;
}
.background {
  position:  absolute;
  display:  block;
  top: 0;
  left: 0;
  z-index: 0;
}

#particles-js {
    position: absolute;
}

#content {
    padding: 5em;
    padding-top: 0em;
    z-index: 1;
    position: relative;
}

#header {
    background-color: black;
    display: inline-flex;
    width: 100%;
    position: relative;
    z-index: 1;
}

.pull-right {
    position: absolute;
    float: right;
}

#footer {
    z-index: 1;
    position: relative;
}

#logo {
    color: #0fedff;
    font-size: 3em;
    font-weight: bolder;
}

.song-name {
    margin-bottom: 2px;
    color:white;
    font-size: 23px;
}

.artist {
    margin-bottom: 5px;
    color:white;
    font-size: 17px;
}

.song-and-artist {
    margin: 0px 7px;
    padding: 5px;
    border-radius: 7px;
}

.song-and-artist:hover {
    background-color: rgb(43, 43, 43);
}

.card {
    margin: 1em;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    float: left;
    width: 350px;
    max-height: 500px;
}

.playlist-songs {
    overflow-y: auto;
    max-height: 430px;
}

.save-playlist-form {
    background-color: rgb(20, 23, 26);
    margin: 10px -10px -10px -10px;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
    padding-left: 20px;
}

#name {
    height: 38px;
    margin-right: -5px;
    border-radius: 10px 0px 0px 10px;
    border-width: 0px;
    width: 170px;
    font-weight: 700;
    padding-left: 10px;
}

span, th, td, label {
    color: white;
}

th, td {
    color: white;
}

a {
    color: #0fedff;
}

button a {
    color: black;
    font-weight: bolder;
}

h1, h2, h3, h4 {
    color: #0fedff;
}

h1 {
    font-size: 3em;
    margin: 1em 0.5em;
}

h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.button-lg {
    padding: 12px 15px;
    border: 0px none;
    border-radius: 500px;
    color: #0fedff;
    background-color: rgb(129, 123, 123);
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
}

.button-go {
    padding: 12px 15px;
    border: 0px none;
    border-radius: 500px;
    color: #0fedff;
    background-color: rgb(129, 123, 123);
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
}

button.button-lg[type="submit"] {
    border-radius: 0px 10px 10px 0px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
  width: 100%;
}
  
ul.topnav li {float: left;}
  
ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 23px 16px;
  text-decoration: none;
  font-size: 1.5em;
}

ul.topnav li a#logo {
    padding: 9px 16px;
}
  
ul.topnav li a:hover:not(.active) {background-color: rgb(43, 43, 43);}
  
ul.topnav li a.active {
    font-weight: bolder;
}
  
ul.topnav li.right {float: right;}

@media screen and (max-width: 790px) {
    ul.topnav li a {
        font-size: 1.2em;
    }

    ul.topnav li a#logo {
        font-size: 2em;
        padding: 15px 16px;
    }

    h1 {
        font-size: 2em;
        margin: 0.5em 0.3em;
    }
}
  
@media screen and (max-width: 650px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
  ul.topnav li a {
    padding: 8px 16px;
  }

  ul.topnav li a#logo {
    font-size: 2em;
    padding: 12px 16px;
  }

  #content {
    padding: 2em;
    padding-top: 0.5em;
  }

  h1 {
    font-size: 1.2em;
    margin: 0.5em 0.2em;
  }
}

.card h3 {
    margin: 5px;
} 