{% extends "layout.html" %}
{% block title %}Cluster Playlists{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {% if username %}
    <h2>Welcome, {{ username }}</h2>
    <span>
      <a href="{{ url_for('make_wordcloud') }}">
        <img class="front-page-image" src="/static/images/WordCloudImage.png">
      </a>
    </span>
    <br><br>
    <span>
      <a href="{{ url_for('define_clusters') }}">
        <img class="front-page-image" src="/static/images/ClusterImage.png">
      </a>
    </span>
  {% else %}
    <img class="front-page-image" src="/static/images/WordCloudImage.png">
    <img class="front-page-image" src="/static/images/ClusterImage.png">
  {% endif %}        
{% endblock %}